#main{
	padding-bottom: 1px;
}
#header{
	background-color: lightgrey;
	width: 97.5%;
	height: 40px;
	font-size: 24pt;
	padding: 1%;
}
#column1{
	background-color: grey;
	width: 20%;
	padding-bottom: 1%;
	padding-top: 1%;
	float: left;
}
#column1 li{
 	list-style-type: none;
}
#column2_top{
	width: 78.5%;
	float: left;
	background-color: #380;
	padding-right: 0.5%;
	padding-left: 0.5%;
}
#column2_bottom{
	float: left;
	width: 78.5%;
	margin-left: 20%;
	background-color: red; 
	padding-right: 0.5%;
	padding-left: 0.5%;
	margin-right: 0.49%;
}
#footer{
	width: 97.5%;
	height: 40px;
	font-size: 14pt;
	padding: 1%;
	float: left;
	background-color: aqua;
}