body{
				background-color: pink;
				color:darkblue;
			} 
			h2 {
				font-size: 33px;
			}
			
			label.myclass{
				color:blue;
			}

			label#login{
				margin-right:15px;
			}
			label#password{
				margin-right:8px;
			}
			label#name{
				margin-right:35px; 
			}
			label#email{
				margin-right: 29px;
			}
			label#country{
				margin-right: 21px;
			}
			label#ciferka{
				margin-right: 85px;
			}
			input#checkbox{
				margin-right: 2px;
			}
			p#checkbox_p{
				margin-right: 40px;
			}
			a.bottom_link{
				color:green;
				font-family: Arial;
			}
			a.bottom_link:visited{
				color:black;
			}
			a.lipsum{
				color:aqua;
			}
			a.lipsum:visited{
				color:darkred;
			}
			form #a1,#a2{
				color:white;
			}
			#country{
				width: 173px;
				margin-left: 16px;
			}
			#country_label{
				padding-right: 3px;
			}
			form{
				background: lightpink;
				width: 35%;
				margin: 0 auto;
				size: 100%;
				padding-top: 0.1%; 
			}
			div#main_text{
				font-family:verdana;
				font-style: italic;
			}
			