body{
	background-color: #212123;
	background-image: url(background.png);
	background-repeat: no-repeat;
	font-family: arial;
	font-size: 11.4pt;
}

#header{
	width: 100%
}

#main{
	width: 100%;
}

#logo{
	float: left;
	margin-left: 1%;
	margin-top: 1%;

}

#top{
	color: white;
	float: left;
	margin-left: 35%;
	width: 30%;

}

#a1{
	margin-right: 3%;
}

#a3{
	margin-left: 4%;
	margin-right: 10%;
}

#a5{
	margin-left: 3%;
}

#top_signin{
	width: 8%;
	color: #3C3831;
	float: left;
	margin-left: 1.3%;
}

#top_signin_top{
	color: rgb(200,80,80);
	float: left;
	background-color: rgb(25,25,25);
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	width: 262px;
	padding-right: 1%;
	margin-top: -3%;
	font-size: 11pt;
}

#top_signin_bot{
	border: 1px solid;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: rgb(54,54,56);
	float: left;
	width: 260px;
	padding-top: 10%;
	padding-right: 1%;
	padding-left: 2%;
}

.menu_a{
	text-decoration: none;
	margin-right: 3%;
}

#menu{
	width: 95%;
	margin-top: 3.2%;
	float: left;
	margin-bottom: 2%;
}

#menu1{
	margin-left: 8%;
}

#slider{
	width: 72.5%;
	margin: 0 auto;
	margin-bottom: 2%;
}

#NewsLine{
 	width: 72.5%;
 	margin: 0 auto;	
	margin-bottom: 1.1%;
}

#news{
	color: white;
	margin: 0 auto;	
	width: 72.5%;
}

#column1{
	width: 40%;
	float: left;
}

#column2{
	width: 28%;
	float: left;
	margin-left: 1%;
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding-left: 2%;
	padding-right: 1.5%;
}

#News1,#News2,#News3{
	padding-left: 75px;
	background-image: url(Date.png);
	background-repeat: no-repeat;
	width: 100%;
	float: left;
	margin-bottom: 2.5%;
}


.text1,.text2,.text3,.text4{
	padding-right: 20%;
	
}

#navigation_left{
	float: right;
}

#navigation_right{
	float: right;
	margin-left: 1%;
}

.line{
	float: left;
}

.popular_lines{
	margin-top: -3.5%;
	float: left;
}

.text2{
	font-size: 8pt;
}

.text3{
	font-size: 10pt;
}

.text4{
	background-image: url(dot.png);
	background-repeat: no-repeat;
	padding-left: 18px;
	margin-top: 1%;
	font-size: 8pt;
}

.text4 a{
	color: rgb(176,68,68);
}

#categories p{
	margin-top: 0.1%;
	margin-bottom: 4%;
}

#categories a{
	margin-left: 2%;
}

#categories span{
	margin-left: 2%;
}

#popular{
	margin-top: 10.5%;
}

#popular p{
	font-size: 10pt;
}

a{
	color: white;
}

#archive_news{
	margin-top: 15%;
}

#archive_news p{
	margin: 0 0;
	margin-bottom: 1%;
}

#column3{
	float: left;
	width: 23%;
	padding-left: 2%;
	padding-right: 1.5%;
}

#march{
	font-size: 10pt;
	margin-top: 1.5%;
}

.change td{
	background-color: #373c40;
	padding: 5px;
	text-align: center; 
	font-size: 10pt;
}

.change1 td{
	background-color: #373c40;
	text-align: center; 
	font-size: 10pt;
}

#black{
	background-color: #212123;
}

#red_td{
	color: #ca9293;
}

.head_td{
	background-color: #212123;
	padding: 5px;
	text-align: center; 
	font-size: 10pt;	
}

#main_td{
}

#advertising{
	margin-top: 25%;
}

#foot_bg{
	float: left;
	background-image: url(foot_bg.png);
	margin-top: 2%;
	width: 95%;
}

#footer{
	background-image: url(footer.png);
	width: 100%;
	margin-bottom: 2%;
	margin: 0 auto;
	float: left;
}

#away{
	float: left;
	margin-left: 70%;
}

#Rights_reserved{
	margin-top: 0.5%;
	margin-right: 0.5%;
	color: white;
	padding-left: 70%;
	float: left;
}

#Rights_reserved p{
	margin-top: 0.6%;
}

