table{
	border: 5px solid black;
	border-collapse: collapse;
}
td{
	border: 1px solid black;
	padding: 0.5em;
}
.first{
	border-right: 3px solid black;
}

.odd td{	
}

.dataspan{
	margin-left: 10px;
}
